NET "a_out"  LOC = P51 | IOSTANDARD = LVTTL;
NET "b_out"  LOC = P41 | IOSTANDARD = LVTTL;
NET "c_out"  LOC = P35 | IOSTANDARD = LVTTL;
NET "sum"  LOC = P50 | IOSTANDARD = LVTTL;
NET "carry"  LOC = P40 | IOSTANDARD = LVTTL;